@font-face {
  font-family: "OverusedGroteskSemiBold";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("OverusedGroteskSemiBold"),
    url("/fonts/OverusedGrotesk/OverusedGroteskSemiBold.woff2") format("woff2"),
    url("/fonts/OverusedGrotesk/OverusedGroteskSemiBold.woff") format("woff");
}
