/* You can add global styles to this file, and also import other style files */
@import "assets/scss/modules/_switzer.scss";

$primary_font: "Switzer-Regular";

$primary_color: rgb(244, 247, 246);

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

body {
  font-family: $primary_font;
  font-size: $font-md;
  font-weight: $regular;
  background-color: $primary_color;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  width: 100%;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    font-size: $font-sm;
  }
}
