/* You can add global styles to this file, and also import other style files */
@import "assets/scss/modules/_switzer.scss";

:root {
  --primary-light-color: #f4f7f6;
  --primary-dark-color: #3c3c3c;
  --primary_font: "Switzer-Regular";
}

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

html,
body {
  font-family: var(--primary_font);
  font-size: $font-md;
  font-weight: $regular;
  margin: 0;
  overflow: hidden;
}

html > * {
  background-color: var(--primary-dark-color);
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  body {
    font-size: $font-sm;
  }
}
