a {
    cursor: pointer;
}

.home-titles {
    font-size: 4em;
    color: white;
}

.content-container {
    display: flex;
    flex-flow: column;
    height:100vh;
    justify-content: space-around;
    margin: auto 10%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-container > :first-child {
    justify-self: flex-start;
}

.content-container > :nth-child(2) {
    align-self: center;
}

.content-container > :nth-child(3) {
    align-self: flex-end;
}

.page {
    height: 100vh;
}

.contacts {
    cursor: pointer;
}

/*=== ANIMATIONS  ===*/

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.one {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.two {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.three {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


@media screen and (max-width: 767px) {
    .content-container {
        justify-content: space-around;
        margin: 0 5%;
    }
}