a {
    cursor: pointer;
}

.home-titles {
    font-size:4em;
}

.content-container {
    margin: 10% 5% 0 5%;
    display: flex;
    flex-flow: column;
    height:100vh;
}

.content-container > :first-child {
    justify-self: flex-start;
}

.content-container > :nth-child(2) {
    align-self: center;
}

.content-container > :nth-child(3) {
    align-self: flex-end;
}
